@import "tailwindcss";



body {
  background: #06111f; /* Matches your premium dark theme */
  overflow-x: hidden;
}

.hero-bg {
  background:
    linear-gradient(
      rgba(0, 15, 40, 0.45),
      rgba(0, 15, 40, 0.65)
    ),
    url("https://images.unsplash.com/photo-1629909615184-74f495363b67?q=80&w=1600");
  background-size: cover;
  background-position: center;
}

.glass {
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,.12);
}

.text-shadow {
  text-shadow:
    0 10px 40px rgba(0,0,0,.35);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 999px;
}

@keyframes gradientMove {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.animate-gradient {
  animation: gradientMove 6s ease infinite;
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

.animate-slowZoom {
  animation: slowZoom 20s linear infinite alternate;
}

html {
  scroll-behavior: auto !important;
}

body {
  overflow-x: hidden;
}

@keyframes testimonialScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.testimonial-track {
  animation: testimonialScroll 35s linear infinite;
}

.testimonial-track:hover {
  animation-play-state: paused;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}